/* Колір головного тексту #212121*/
/*Колір другорядного тексту #757575*/
/*білий #FFFFFF*/
/*Акцент #2196F3*/
/*Колір фону*/

:root{
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --accent-color:#2196F3;
    --white-color:#FFFFFF;
    --background-color: #F5F5F5;
    --filter-button-color:#F5F4FA;
}

.page {
    color: var(--primary-text-color);
}

.logo {
color: var(--accent-color);
}

.logo:active {
color: #800080;
}

.site-nav-list .link {
    color: var(--accent-color);
}

.site-nav-list .link:active{
    color: #800080;
}

 /*Section*/
 .section-title{
    color:var(--primary-text-color) ;
 }

 .section-text{
 color:var(--secondary-text-color);
 }
   
 
.filter-button{
  background-color: var(--filter-color);
  color: var(--primary-text-color);
 }

 .header-button {
    color: var(--white-color);
    background-color: var(--accent-color);
 }

 .button {
    color: var(--white-color);
    background-color: var(--accent-color);
 }

 .header-button:active{
 color:#800080;
 }

 .button:active{
    color:#800080;
 }

 ul{
    list-style: none;
 }
 
