/* Колір головного тексту #212121*/
/*Колір другорядного тексту #757575*/
/*білий #FFFFFF*/
/*Акцент #2196F3*/
/*Колір фону*/

:root{
    --primary-text-color:#757575;
    --secondary-text-color:#212121;
    --accent-color:#2196F3;
    --white-color:#FFFFFF;
    --background-color: #F5F5F5;
    --filter-button-color:#F5F4FA;
}

.page {
    color: var(--primary-text-color);
}

.logo {
   color: var(--accent-color);
   font-family: Raleway, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: ;
   text-decoration: none;
}


.logo-accent {
color: var(--secondary-text-color);
}

.logo-footer-accent{
   color: var(--white-color);
}

.logo:active{
color: var(--secondary-text-color);
}

/*Навігація*/

.site-nav .link{
   color: var(--secondary-text-color);
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.2em;
   text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus{
   color: var()
}
.site-nav .link.current{
    color: var(--accent-color);
}



.header-contacts{

}







 /*Герой*/
.hero-title {
    color: var(--white-color);
 }
.hero-button:active {
   color: #800080;
}
 .hero-button {
    color: var(--white-color);
    background-color: var(--accent-color);
 }
 
 /*Section*/
 .section-title {
    color:var(--secondary-text-color) ;
 }

 .adress-title {
   color: var(--white-color);
 }
 


 
.filter-button {
  background-color: var(--filter-color);
  color: var(--primary-text-color);
 }

 .header-button {
    color: var(--white-color);
    background-color: var(--accent-color);
 }

 

 .header-button:active {
 color:#800080;
 }

 

 ul {
    list-style: none;
 }
 
