/* Колір головного тексту #212121*/
/*Колір другорядного тексту #757575*/
/*білий #FFFFFF*/
/*Акцент #2196F3*/
/*Колір фону*/

:root{
    --primary-text-color:#757575;
    --secondary-text-color:#212121;
    --accent-color:#2196F3;
    --white-color:#FFFFFF;
    --background-color: #F5F5F5;
    --filter-button-color:#F5F4FA;
}

.page {
    color: var(--primary-text-color);
}

.logo {
   color: var(secondary-text-color);
   font-family: Raleway, sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: ;
}

.logo-footer{
      color: var(--);
      font-family: Raleway, sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: ;
}

.logo-accent {
color: var(--accent-color);
}

.logo-footer-accent{
   color: var(--white-color);
}

.logo:active {
color: #800080;
}

/*Навігація*/
.site-nav-list .link {
    color: var(--secondary-text-color;
}

.site-nav-list .link:active{
    color: var(--accent-color);
}

/*Посилання на адресу та номер телефону*/
.contact-nav-list .contact-link:hover,
.contact-nav-list .contact-link:focus {
   color: #000000;
}

 /*Герой*/
.hero-title {
    color: var(--white-color);
 }
.hero-button:active {
   color: #800080;
}
 .hero-button {
    color: var(--white-color);
    background-color: var(--accent-color);
 }
 
 /*Section*/
 .section-title {
    color:var(--secondary-text-color) ;
 }

 .adress-title {
   color: var(--white-color);
 }
 
 .contact-title{
   color:rgba (,, , 0.8)
 }
 
.filter-button {
  background-color: var(--filter-color);
  color: var(--primary-text-color);
 }

 .header-button {
    color: var(--white-color);
    background-color: var(--accent-color);
 }

 

 .header-button:active {
 color:#800080;
 }

 

 ul {
    list-style: none;
 }
 
